# Node
node_modules/
npm-debug.log*
yarn-error.log*

# Expo / React Native
.expo/
.expo-shared/
android/
ios/
web-build/

# VSCode
.vscode/

# macOS
.DS_Store

# build output
dist/
build/
*.tmp
node_modules/
